






<section id="footer">




  <div class="icon-cont container-fluid">
    <a class="footericons" target="_blank" href="https://www.facebook.com/"><i
        class="social-icon fab fa-facebook-f"></i></a>
    <a class="footericons" target="_blank" href="https://twitter.com/explore"><i
        class="social-icon fab fa-twitter"></i></a>
    <a class="footericons" target="_blank" href="https://www.instagram.com/"><i
        class="social-icon fab fa-instagram"></i></a>
    <a class="footericons" target="_blank" href="https://www.linkedin.com/"><i
        class="social-icon fas fa-envelope"></i></a>

  </div>


  <!-- social media icons -->


  <div class="row ">
    <div class="grids col-md-12">
      <a class="footera" href="#"><span style="white-space: nowrap">Privacy policy</span></a>

    </div>
    <div class="grids col-md-12 ">
      <a class="footera" href="#"><span style="white-space: nowrap">FAQ</span></a>
    </div>
    <div class="grids col-md-12 ">
      <a class="footera" href="#"><span style="white-space: nowrap">Terms & conditions</span></a>
    </div>
    <div class="grids col-md-12 ">
      <a class="footera" href="#">About Us</a>
    </div>
  </div>
  </div>
  <p class="bottomp"><em>Copyright 2020, Auruma Ltd</em></p>



</section>



<script src="https://apps.elfsight.com/p/platform.js" defer></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"></script>
<script src="app.js" charset="utf-8"></script>
<script src="calculator.js" charset="utf-8"></script>
<script src="weatherClock.js" charset="utf-8"></script>
</body>

</html>